@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
    letter-spacing: 1px;
}

.wrapper {
    background: #252934;
    width: 100%;
    height: 100vh;
}

.intro__header {
  width: 1800px;
  height: 100vh;
  border: 2px solid #14FFEC;
  margin: 0 auto;
}

.header-info {
  width: 400px;
  margin: 0 auto;
  text-align: justify;
  border: 2px solid #14FFEC;
}

.my__name {
    color: #14FFEC;
}

.bold__italic {
    font-style: italic;
    color: fuchsia;
}

.animated {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

  /* FADE IN TOP */
@-webkit-keyframes fadeInTop {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-200px);
      transform: translateY(-200px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInTop {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-200px);
      -ms-transform: translateY(-200px);
      transform: translateY(-200px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  .fadeInTop {
    -webkit-animation-name: fadeInTop;
    animation-name: fadeInTop;
  }

    /* FADE IN FROM BOTTOM */
@-webkit-keyframes fadeInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(+200px);
    transform: translateY(+200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(+200px);
    -ms-transform: translateY(+200px);
    transform: translateY(+200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInBottom {
  -webkit-animation-name: fadeInBottom;
  animation-name: fadeInBottom;
}

  .delay__1 {
    animation-delay: 4s;
  }
  
  .delay__2 {
    animation-delay: 8s;
  }

  .delay__3 {
    animation-delay: 12s;
  }
  